.about {
  background-color: var(--white);
  color: var(--rich-brown);
}

.about_container-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.about_container-content div {
  flex: 1;
}
.about_container-content-text {
  font-weight: bold;
  padding: 20px 0;
}
.about_container h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bolder;
}
.about_container-content-text p {
  margin-bottom: 25px;
  line-height: 2;
}
.about_container-content-img {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.about_container-content-img img {
  border-radius: 20px;
}
.techstack {
  max-width: 60%;
  margin-top: 30px;
}
.techstack ul {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 17px;
}
