.about {
  color: var(--aquamarine);
}

.about_container {
  padding: 50px 0 0 70px ;
}

.about_container-content {
  display: flex;
  align-items: flex-start;
  margin-top: 70px;
  margin-left: 70px;
}
.about_container-content div {
  flex: 1;
}

.about_container-content-text p {
  max-width: 500px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2rem;
  margin-bottom: 30px;
}

.about_container-content-img {
  padding: 0 70px;
  min-width: 200px;
}
.about_container-content-img img {
  border-radius: 5px;
  min-width: 200px;
  height: auto;
}
@media screen and (max-width: 640px) {
  .about_container-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
  .techstack {
    min-width: 100%;
  }
  .techstack ul {
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }
}
