.services {
  background-color: var(--white);
  color: var(--rich-brown);
}
.service-list {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin: 70px 0 20px ;
}

.service {
  padding: 50px;
  flex: 1;
  background-color: var(--rich-brown);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  color: var(--white);
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 300px;
}
.service:hover {
  background-color: var(--vibrant-green);
}
.service h3 {
  margin-bottom: 20px;
}
.service p {
  font-weight: 400;
}
.service i {
  font-size: 30px;
  margin-bottom: 20px;
}
.service_1 {
  border-bottom: 5px solid var(--vibrant-green);
}
.service_2 {
  border-bottom: 5px solid var(--yellow);
}
.service:hover {
  border-bottom: 5px solid var(--yellow);
}
