.contact {
  background-color: var(--white);
  color: var(--white);
}
.contact-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 70px 0;
}
.col {
  flex: 1;
}
.contact_text {
  color: var(--rich-brown);
  width: 80%;
  font-weight: bold;
  margin-bottom: 30px;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input {
  display: flex;
  gap: 10px;
}
input {
  width: 100%;
}
.input input,
textarea {
  padding: 10px;
  background: var(--rich-brown);
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 20px;
}
.input input::placeholder,
textarea::placeholder {
  color: var(--white);
}
.btn {
  background-color: var(--vibrant-green);
  width: 30%;
  position: relative;
  right: 0;
}

.contact-container .title i {
  margin-left: 20px;
}

@media screen and (max-width: 640px) {
  .input {
    display: flex;
    flex-direction: column;
  }
  .contact-container {
    flex-wrap: wrap;
    gap: 40px;
  }
  .contact-container .social-icons{
    align-items: center;
    justify-content: center;
  }
}
