.contact {
  border: 2px red solid;
  padding-top: 70px;
  height: 100vh;
}
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-content {
  width: 500px;
  text-align: center;
  margin-top: 10px;
}
.contact-content h2 {
  font-weight: bolder;
  letter-spacing: 5px;
  margin-bottom: 30px;
}
.contact-content p{
  font-weight: 300;
}

.sm-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
}

.sm-title h4 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 100;
}
.contact-btn {
  background-color: var(--keppel);
  padding: 10px;
  border: 1px solid var(--silver-sand);
  outline: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: bolder;
  color: var(--wood-smoke);
  transition: 1s;
  width: 200px;
  margin-top: 30px;
}

.contact-btn:hover {
  background-color: transparent;
  color: var(--keppel);
}
