.techstack {
  background-color: var(--white);
  margin-top: 40px;
}
.techstacks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 40px;
  padding-bottom: 60px;
}
.techstacks i {
  color: var(--rich-brown);
}
