nav {
  background-color: var(--wood-smoke);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;


}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0  0;
}

.nav-lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

li span,
li a {
  font-size: 14px;
}
li a{
  font-weight: 700;
}

li span{
  font-weight: lighter;
  font-size: 13px;
  margin-right: 2px;
  color: var(--silver-sand);
}

.btn-cv {
  background-color: transparent;
  padding: 10px;
  border: 1px solid var(--silver-sand);
  outline: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: bolder;
  color: var(--aquamarine);
}
.logo {
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: bolder;
}
.logo span {
  color: var(--silver-sand);
}
.hamburger {
  display: none;
  color: var(--silver-sand);
  font-size: 30px;
}

@media screen and (max-width: 640px) {
  .hamburger {
    display: block;
  }
  .nav-lists {
    position: absolute;
    background-color: var(--wood-smoke);
    top: 55px;
    right: 0;
    height: calc(100vh - 60px);
    display: none;
    flex-direction: column;
    z-index: -1;
    padding: 40px;

    font-weight: bold;
  }
  .nav-lists-expanded {
    display: block;
    width: 50%;
    z-index: 1000;
  }

  ul {
    flex-direction: column;
    margin-top: 40px;
  }
  ul li {
    font-size: 20px;
  }
  .nav-container div {
    flex: 0;
  }
  .nav-container {
    justify-content: space-between;
  }

  .btn-cv {
    margin-top: 40px;
    width: auto;
  }
}
