nav {
  background-color: var(--rich-brown);
  box-shadow: rgb(15, 20, 26) 0px 20px 30px -10px;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.nav-container {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.nav-container div {
  flex: 1;
}

.nav-lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

ul {
  display: flex;
  gap: 30px;
}

.btn-cv {
  background-color: var(--yellow);
  padding: 10px;
  border-radius: 500px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: bolder;
  color: var(--white);
  width: 100px;
}
.logo {
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: bolder;
}
.logo span {
  color: var(--vibrant-green);
}
.hamburger {
  display: none;
  color: var(--white);
  font-size: 30px;
}

@media screen and (max-width: 640px) {
  .hamburger {
    display: block;
  }
  .nav-lists {
    position: absolute;
    background-color: var(--vibrant-green);
    top: 55px;
    right: 0;
    height: calc(100vh - 60px);
    display: none;
    flex-direction: column;
    z-index: -1;
    padding: 40px;

    font-weight: bold;
  }
  .nav-lists-expanded {
    display: block;
    width: 50%;
    z-index: 1000;
  }

  ul {
    flex-direction: column;
    margin-top: 40px;
  }
  ul li {
    font-size: 20px;
  }
  .nav-container div {
    flex: 0;
  }
  .nav-container {
    justify-content: space-between;
  }

  .btn-cv {
    margin-top: 40px;
    width: auto;
  }
}
