.header {
  background-color: var(--wood-smoke);
  height: 100vh;
  color: var(--aquamarine);
}

.header-container {
  padding-top: 70px;
}

.header-content {
  padding: 0 80px;
}
.header-content p {
  font-size: 16px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.header-content h1 {
  font-family: "Rubik 80s Fade", cursive;
  font-weight: 400;
  font-size: 75px;
  margin-bottom: 15px;
  color: var(--keppel);
}
.header-content h3 {
  font-size: 36px;
  letter-spacing: 16px;
  margin-bottom: 20px;
  font-weight: lighter;
  font-family: "Prosto One", cursive;
}

.header-content .sec_p {
  max-width: 500px;
  font-weight: 300;
  font-size: 16px;
  line-height: 2rem;
  margin-bottom: 30px;
}

.header-btn {
  background-color: var(--keppel);
  padding: 10px;
  border: 1px solid var(--silver-sand);
  outline: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: bolder;
  color: var(--wood-smoke);
  transition: 1s;
}

.header-btn:hover {
  background-color: transparent;
  color: var(--keppel);
}
