* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: var(--wood-smoke);
  color: var(--aquamarine);
}
img {
  max-width: 100%;
  display: block;
}

:root {
  --wood-smoke: #0b0c10;
  --silver-sand: #c5c6c7;
  --ebony-clay: #1f2833;
  --aquamarine: #66fcf1;
  --keppel: #45a29e;
}
/* ::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 10px;
  height: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--yellow);
} */

.container {
  max-width: 90%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--aquamarine);
}
li {
  list-style: none;
}

.section_title {
  display: flex;
  align-items: center;
  color: var(--aquamarine);
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "Prosto One", cursive;
}
.section_title h4 {
  letter-spacing: 4px;
}
.section_title span {
  color: var(--silver-sand);
  margin-right: 8px;
  font-weight: lighter;
}

.section_title .hr {
  width: 300px;
  background-color: var(--silver-sand);
  height: 1px;
  margin-left: 30px;
}

.social-icon {
  margin-right: 25px;
  color: var(--yellow);
  cursor: pointer;
}
